@media only screen and (max-width: 1108px) {
 
    .wrapper {
        width: 90%;
    }

    #social {
        position: absolute 82px 4px 0px 0px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 85%;
    }

    #logo h1 {
        width: 35px;
        height: 35px;
    }

    #logo h2 {
        font-size: 2.2 em;
    }

    #social {
        top: 72px;
    }

    .col-3 p {
        column-rule: 1px dotted #ccc;
        column-gap: 1.5em;
        column-count: 2;
      }
}

@media only screen and (max-width: 750px) {
    #navbar nav a {
        font-size: 0.9em;
    }

    .col-3 p {
        column-count: 1;
        column-gap: 1.5em;
        column-rule: 1px dotted #ccc;
    }

    .border-right {
        border: 0;
    }

    #details {
        height: auto;
    }
}